*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: tomato;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

